In [7]:
import os
os.getcwd()

'C:\\Users\\Asus\\Downloads\\CS 3072\\Labs\\lab-02-RaghadKAlamoudi'

# Lab 2: numpy

#### Practice Exercise 1

Create the following NumPy arrays: 
1. A 1-D array called zeros having 10 elements and all the elements are set to zero. 
2. A 1-D array called vowels having the elements ‘a’, ‘e’, ‘i’, ‘o’ and ‘u’. 
3. A 2-D array called ones having 2 rows and 5 columns and all the elements are set to 1 and dtype as int. 
4. Use nested Python lists to create a 2-D array called myarray1 having 3 rows and 3 columns and store the following data: 2.7,  0,  -2,  3.4,  10.6,  0,  -19 99.9 13 
5. A 2-D array called myarray2 using arange() having 3 rows and 5 columns with start value = 4, step size 4 and dtype as float

In [21]:
# Write your answer here

import numpy as np
#Q1:
zeros = np.zeros(10)
zeros

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [23]:
#Q2:
vowels= np.array (['a', 'e', 'i', 'o', 'u'])
vowels

array(['a', 'e', 'i', 'o', 'u'], dtype='<U1')

In [31]:
#Q3:
ones = np.ones(10, dtype = int).reshape(2,5)
ones

array([[1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])

In [33]:
#Q4:
myarray1 = np.array([[2.7,  0,  -2],[ 3.4,  10.6,  0],[-19, 99.9, 13 ]])
myarray1

array([[  2.7,   0. ,  -2. ],
       [  3.4,  10.6,   0. ],
       [-19. ,  99.9,  13. ]])

In [37]:
#Q5:
myarray2 = np.arange(4 , 4 + 15*4 , 4).reshape(3,5)
myarray2

array([[ 4,  8, 12, 16, 20],
       [24, 28, 32, 36, 40],
       [44, 48, 52, 56, 60]])

Using the arrays created in Question above, write NumPy commands for the following: 
1. Find the dimensions, shape, size, data type of the items and itemsize of arrays zeros, vowels, ones, myarray1 and myarray2. 
2. Reshape the array ones to have all the 10 elements in a single row. 
3. Display the 2nd and 3rd element of the array vowels. 
4. Display all elements in the 2nd and 3rd row of the array myarray1. 
5. Display the elements in the 1st and 2nd column of the array myarray1. 
6. Display the elements in the 1st column of the 2nd and 3rd row of the array myarray1. 
7. Reverse the array of vowels.

In [55]:
#Write your answer here
#Q1:
myarray2.shape, myarray2.size, myarray2.ndim, myarray2.dtype, myarray2.itemsize

((3, 5), 15, 2, dtype('int32'), 4)

In [49]:
#Q2:
ones.reshape(1,10)

array([[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]])

In [57]:
#Q3:
vowels[1:3]

array(['e', 'i'], dtype='<U1')

In [65]:
#Q4:
print(myarray1)
myarray1[1:3 , : ]

[[  2.7   0.   -2. ]
 [  3.4  10.6   0. ]
 [-19.   99.9  13. ]]

array([[  3.4,  10.6,   0. ],
       [-19. ,  99.9,  13. ]])

In [71]:
#Q5:
myarray1[: , 0:2]

array([[  2.7,   0. ],
       [  3.4,  10.6],
       [-19. ,  99.9]])

In [73]:
#Q6:
myarray1[1:3, 0:1]

array([[  3.4],
       [-19. ]])

In [75]:
#Q7: 
vowels[::-1]

array(['u', 'o', 'i', 'e', 'a'], dtype='<U1')

Using the arrays created in Question above, write NumPy commands for the following:
1. Divide all elements of array ones by 3. 
2. Add the arrays myarray1 and myarray2. 
3. Subtract myarray1 from myarray2 and store the result in a new array. 
4. Multiply myarray1 and myarray2 elementwise. 
5. Do the matrix multiplication of myarray1 and myarray2 and store the result in a new array myarray3. 
6. Divide myarray1 by myarray2. 
7. Find the cube of all elements of myarray1 and divide the resulting array by 2. 
8. Find the square root of all elements of myarray2   and divide the resulting array by 2. The result  should be rounded to two places of decimals.

In [77]:
# Write your answer here
#Q1:
ones/3

array([[0.33333333, 0.33333333, 0.33333333, 0.33333333, 0.33333333],
       [0.33333333, 0.33333333, 0.33333333, 0.33333333, 0.33333333]])

In [81]:
#Q2:
myarray1 + myarray2[ : ,0:3]

array([[  6.7,   8. ,  10. ],
       [ 27.4,  38.6,  32. ],
       [ 25. , 147.9,  65. ]])

In [85]:
#Q3:
myarray= myarray1 - myarray2[ : ,0:3]
myarray

array([[ -1.3,  -8. , -14. ],
       [-20.6, -17.4, -32. ],
       [-63. ,  51.9, -39. ]])

In [97]:
#Q4:
myarray1 * myarray2[ : ,0:3]

array([[  10.8,    0. ,  -24. ],
       [  81.6,  296.8,    0. ],
       [-836. , 4795.2,  676. ]])

In [111]:
#Q5:
myarray3= myarray1 * myarray2[ : ,0:3]
myarray3

array([[  10.8,    0. ,  -24. ],
       [  81.6,  296.8,    0. ],
       [-836. , 4795.2,  676. ]])

In [95]:
#Q6:
myarray1 / myarray2[ : ,0:3]

array([[ 0.675     ,  0.        , -0.16666667],
       [ 0.14166667,  0.37857143,  0.        ],
       [-0.43181818,  2.08125   ,  0.25      ]])

In [87]:
#Q7:
(myarray1**3)/2

array([[ 9.841500e+00,  0.000000e+00, -4.000000e+00],
       [ 1.965200e+01,  5.955080e+02,  0.000000e+00],
       [-3.429500e+03,  4.985015e+05,  1.098500e+03]])

In [93]:
#Q8:
np.round((np.sqrt(myarray2))/2, 2)

array([[1.  , 1.41, 1.73, 2.  , 2.24],
       [2.45, 2.65, 2.83, 3.  , 3.16],
       [3.32, 3.46, 3.61, 3.74, 3.87]])

Using the arrays created above, write NumPy commands for the following: 
1. Find the transpose of ones and myarray2. 
2. Sort the array vowels in reverse. 
3. Sort the array myarray1 such that it brings the lowest value of the column in the first row and so on.

In [103]:
# Write your answer here
#Q1:
myarray2.T

array([[ 4, 24, 44],
       [ 8, 28, 48],
       [12, 32, 52],
       [16, 36, 56],
       [20, 40, 60]])

In [107]:
#Q2:
np.sort(vowels[::-1])

array(['a', 'e', 'i', 'o', 'u'], dtype='<U1')

In [109]:
#Q3:
np.sort(myarray1,0)

array([[-19. ,   0. ,  -2. ],
       [  2.7,  10.6,   0. ],
       [  3.4,  99.9,  13. ]])

Create a 2-D array called myarray4 using arange() having 14 rows and 3 columns with start value = -1, step size 0.25 having. Split this array row wise into 3 equal parts and print the result.

In [117]:
# Write your answer here
myarray4 = np.arange(-1 , -1 + 42 * 0.25 , 0.25).reshape(14,3)
myarray4

array([[-1.  , -0.75, -0.5 ],
       [-0.25,  0.  ,  0.25],
       [ 0.5 ,  0.75,  1.  ],
       [ 1.25,  1.5 ,  1.75],
       [ 2.  ,  2.25,  2.5 ],
       [ 2.75,  3.  ,  3.25],
       [ 3.5 ,  3.75,  4.  ],
       [ 4.25,  4.5 ,  4.75],
       [ 5.  ,  5.25,  5.5 ],
       [ 5.75,  6.  ,  6.25],
       [ 6.5 ,  6.75,  7.  ],
       [ 7.25,  7.5 ,  7.75],
       [ 8.  ,  8.25,  8.5 ],
       [ 8.75,  9.  ,  9.25]])

Using the myarray4 created in the above questions, write commands for the following: 
1. Find the sum of all elements. 
2. Find the sum of all elements row wise
3. Find the sum of all elements column wise. 
4. Find the max of all elements. 
5. Find the min of all elements in each row. 
6. Find the mean of all elements in each row. 
7. Find the standard deviation column wise.

In [119]:
# Write your ansewr here
#Q1:
np.sum(myarray4)

173.25

In [121]:
#Q2:
np.sum(myarray4,axis=1)

array([-2.25,  0.  ,  2.25,  4.5 ,  6.75,  9.  , 11.25, 13.5 , 15.75,
       18.  , 20.25, 22.5 , 24.75, 27.  ])

In [123]:
#Q3:
np.sum(myarray4,axis=0)

array([54.25, 57.75, 61.25])

In [133]:
#Q4:
np.max(myarray4)

9.25

In [137]:
#Q5
np.min(myarray4, axis=1)

array([-1.  , -0.25,  0.5 ,  1.25,  2.  ,  2.75,  3.5 ,  4.25,  5.  ,
        5.75,  6.5 ,  7.25,  8.  ,  8.75])

In [139]:
#Q6:
np.mean(myarray4,axis=1)

array([-0.75,  0.  ,  0.75,  1.5 ,  2.25,  3.  ,  3.75,  4.5 ,  5.25,
        6.  ,  6.75,  7.5 ,  8.25,  9.  ])

In [141]:
#Q7:
np.std(myarray4, axis=0)

array([3.02334666, 3.02334666, 3.02334666])

#### Practice Exercise 2
Read the coordinates of the capital cities of the world from the country-capital-lat-long-population.csv file. Use NumPy to print the name and coordinates of the capital city closest to the Saudi Arabia capital - Riyadh.

Note that:

1. The Country Name for Saudi Arabia is given as Saudi Arabia in the data.
2. The ‘closeness’ of capital cities from the Saudi Arabia capital is based on the Euclidean distance of their coordinates to those of the Saudi Arabia capital.


Hints:

1. Use read_html() from the Pandas library to read the table.
2. Use the to_numpy() function of the Pandas DataFrame class to convert a DataFrame to a Numpy array
3. Use broadcasting to compute the euclidean distance of capital cities from Riyadh.

In [147]:
# Write your answer here
import pandas as pd
import numpy as np

# Load the data from the CSV file
capitals = pd.read_csv('country-capital-lat-long-population.csv')

# Extract Riyadh's coordinates (Saudi Arabia's capital)
riyadh_data = capitals[capitals['Country'] == 'Saudi Arabia']
riyadh_lat = riyadh_data['Latitude'].values[0]
riyadh_long = riyadh_data['Longitude'].values[0]

# Extract the latitudes, longitudes, and capital city names for all the capitals
capital_data = capitals[['Capital City', 'Latitude', 'Longitude']].to_numpy()

# Compute the Euclidean distance of all capitals from Riyadh
distances = np.sqrt((capital_data[:, 1].astype(float) - riyadh_lat)**2 + (capital_data[:, 2].astype(float) - riyadh_long)**2)

# Exclude Riyadh from the comparison by setting its distance to infinity
is_not_riyadh = capital_data[:, 0] != 'Ar-Riyadh (Riyadh)'
distances[~is_not_riyadh] = np.inf

# Find the index of the minimum distance excluding Riyadh
closest_city_index = np.argmin(distances)

# Get the name and coordinates of the closest capital city
closest_city = capital_data[closest_city_index]

# Output the result
print(f"Closest capital city to Riyadh: {closest_city[0]}")
print(f"Coordinates: Latitude {closest_city[1]}, Longitude {closest_city[2]}")

Closest capital city to Riyadh: Al-Manamah (Manama)
Coordinates: Latitude 26.2154, Longitude 50.5832

#### Practical Exercise 2

Use NumPy to:

1. Print the names of the countries of the top 10 capital cities closest to the US capital - Washington DC.

2. Create and print a NumPy array containing the coordinates of the top 10 cities.

In [149]:
# Write your answer here
import pandas as pd
import numpy as np

# Load the data from the CSV file
capitals = pd.read_csv('country-capital-lat-long-population.csv')

# Extract Washington DC's coordinates (US capital)
washington_data = capitals[capitals['Capital City'].str.contains('Washington')]
washington_lat = washington_data['Latitude'].values[0]
washington_long = washington_data['Longitude'].values[0]

# Extract the latitudes, longitudes, capital city names, and countries for all the capitals
capital_data = capitals[['Country', 'Capital City', 'Latitude', 'Longitude']].to_numpy()

# Compute the Euclidean distance of all capitals from Washington, DC
distances = np.sqrt((capital_data[:, 2].astype(float) - washington_lat)**2 + (capital_data[:, 3].astype(float) - washington_long)**2)

# Exclude Washington itself from the comparison by setting its distance to infinity
is_not_washington = capital_data[:, 1] != 'Washington D.C.'
distances[~is_not_washington] = np.inf

# Find the indices of the top 10 closest cities
top_10_indices = np.argsort(distances)[:10]

# Print the names of the countries of the top 10 closest cities
top_10_countries = capital_data[top_10_indices, 0]
print("Countries of the top 10 closest cities to Washington, DC:")
print(top_10_countries)

# Create and print a NumPy array containing the coordinates of the top 10 cities
top_10_coordinates = capital_data[top_10_indices, 2:4].astype(float)
print("\nCoordinates of the top 10 closest cities:")
print(top_10_coordinates)

Countries of the top 10 closest cities to Washington, DC:
['United States of America' 'Canada' 'Bahamas' 'Bermuda' 'Cuba'
 'Turks and Caicos Islands' 'Cayman Islands' 'Haiti' 'Jamaica'
 'Dominican Republic']

Coordinates of the top 10 closest cities:
[[ 38.8951 -77.0364]
 [ 45.4166 -75.698 ]
 [ 25.0582 -77.3431]
 [ 32.2915 -64.778 ]
 [ 23.1195 -82.3785]
 [ 21.4612 -71.1419]
 [ 19.2866 -81.3744]
 [ 18.5392 -72.335 ]
 [ 17.997  -76.7936]
 [ 18.4896 -69.9018]]